body{
    background-color: cornflowerblue;
}
div{
    background-color: antiquewhite;
    text-align: center;
    box-shadow: 5px 5px 10px; /* sombra do elemento */
    width: 500px; /* largura */
    margin:auto; /* centralizar elemento */
}