body {
    background-color:bisque
}
ol, li {
    background-color: rgb(247, 247, 100);
}
.par {
    color: rgb(52, 185, 52);
}
.impar {
    text-transform:uppercase;
    color:rgb(95, 91, 91);
}
.head {
    color: rgb(201, 26, 26);
}
.head-diferente {
    font-family: 40px;
    border: 1px solid rgb(29, 28, 28);
}
li {
    font-family: 20px;
}
li em {
    font-weight:bold;
}
.linguagens {
    color: rgb(41, 104, 129);
}
.fundo {
    background-color:rgb(218, 108, 126);
}
.overflow:hover {
    font-family: bold;
    color: rgb(218, 73, 21);
    text-decoration: none;
}
.W3:hover {
    font-family: bold;
    color: rgb(9, 167, 9);
    text-decoration: none;
}
.mozilla:hover {
    font-family: bold;
    color: black;
    text-decoration: none;
}
.devdocs:hover {
    font-family: bold;
    color: rgb(236, 236, 3);
    text-decoration: none;
}
.trybe:hover {
    font-family: bold;
    color: rgb(2, 71, 2);
    text-decoration: none;
}


